@model FilmsDomain.Model.Preorder

@{
    ViewData["Title"] = "Delete";
}

<h1>Видалити</h1>

<div>
    <h4>Замовлення</h4>
    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Film)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Film.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PreorderDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PreorderDate)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Назад</a>
    </form>
</div>